<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxW_48nVEZuqHJqfMNJ7qZoiUkb388E4JEIg&usqp=CAU"
      alt=""
      srcset=""
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aut, cumque facere velit molestias quia optio laboriosam sapiente nam doloribus necessitatibus earum eveniet accusamus corporis dolorem eum a libero vero.</a></p>
  </div>
</div>
