.container__big-card {
  /* border: solid #fff 2px; */
  width: 400px;
  height: 500px;
  margin-left: 20px;
  margin-right: 20px;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.big-card__title > h1 {
  font-size: 20px;
  margin-top: 15px;
  text-transform: uppercase;
}

.big-card__description {
  margin-top: 20px;
}

.big-card__description > p > a {
  color: grey;

}

.big-card__photo > img {
  width: 100%;
  min-width: 400px;
}
