<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxW_48nVEZuqHJqfMNJ7qZoiUkb388E4JEIg&usqp=CAU" cardTitle="Iron Man 3D" cardDescription="Marvel studios anuncia o novo Homem de Ferro"></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card photoCover="https://i.ytimg.com/vi/I3DWrlksuys/maxresdefault.jpg" cardTitle="
    Saiu a nova versão do Angular"></app-small-card>
    <app-small-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLwPPJFJkCgnUbv0XEREyALEzYrZd85oRcCA&usqp=CAU" cardTitle="
    Saiu a nova versão do Angular"></app-small-card>
    <app-small-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxN_TFNystEa_ldbisaXO_QyjXFCtL7OFDqQ&usqp=CAU" cardTitle="
    Saiu a nova versão do Angular"></app-small-card>
  </div>
</div>


